<h2>User info</h2>
<table>
  <tbody>
    <tr>
      <td>name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>

<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
  <label>Title</label><br>
  <%= f.text_field :title %><br>
  <label>Opinion</label><br>
  <%= f.text_area :opinion %><br>
  <%= f.submit '投稿' %>
<% end %>